.cpcache/
.nrepl-port
logs/
mykeyfile
twitchbot.log
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
mp3/
resources/public/js/out/
resources/public/js/twitch.js
resources/public/js/emoticons.js
resources/public/js/followers.js
resources/public/js/chat.js
resources/public/js/banner.js
target/
