{:paths
 ["src/clj" "src/cljs" "resources/public"]

 :deps
 {bidi {:mvn/version "2.1.6"}
  buddy/buddy-sign {:mvn/version "2.2.0"}
  clj-http {:mvn/version "3.9.1"}
  clojure.java-time {:mvn/version "0.3.2"}
  cheshire {:mvn/version "5.8.1"}
  com.cognitect/transit-clj {:mvn/version "0.8.313"}
  ;; I decided to handwrite start and stop instead of using a lib like
  ;; component for now
  ;; com.stuartsierra/component {:mvn/version "0.4.0"}
  instaparse {:mvn/version "1.4.10"}
  javazoom/jlayer {:mvn/version "1.0.1"}
  http-kit {:mvn/version "2.4.0-alpha3"}
  hiccup {:mvn/version "1.0.5"}
  org.clojure/core.async {:mvn/version "0.4.490"}  
  org.kitteh.irc/client-lib {:mvn/version "7.1.0"}
  overtone/at-at {:mvn/version "1.2.0"}
  ring/ring-core  {:mvn/version "1.6.3"}
  ring/ring-json {:mvn/version "0.4.0"}
  ring/ring-mock {:mvn/version "0.4.0"}
  upgrade/encrypt {:mvn/version "0.0.1"}}
 
 :aliases {
           :uberjar
           {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
            ;;:main-opts ["-m" "upgrade.system"]
            }
           
           :repl
           {:extra-deps
            {cider/cider-nrepl {:mvn/version "0.21.1"}
             org.clojure/tools.deps.alpha {:mvn/version "0.6.496"}}}

          :figwheel
           {:extra-deps
            {

             ;; react based libs
             cljsjs/react {:mvn/version "16.8.3-0"}
             cljsjs/react-dom {:mvn/version "16.8.3-0"}
             cljsjs/react-transition-group {:mvn/version "2.4.0-0"
                                            :exclusions [react react-dom]}
             reagent {:mvn/version "0.8.1"
                      :exclusions [react react-dom]}

             ;; not sure I need react-dom-server?
             ;;cljsjs/react-dom-server {:mvn/version "15.6.1-0"}

             ;; react-with-addons is deprecated, don't use it
             ;;cljsjs/react-with-addons {:mvn/version "15.6.1-0"}

             ;; re-frame stuff
             day8.re-frame/http-fx {:mvn/version "0.1.6"}
             re-frame {:mvn/version "0.10.6"
                       :exclusions [reagent]}
             
             com.cognitect/transit-cljs {:mvn/version "0.8.256"}
             com.bhauman/figwheel-main {:mvn/version "0.2.0"}
             org.clojure/clojurescript {:mvn/version "1.10.516"}

             }}
           }}


